@import "tailwindcss";

/* Text Settings ->>>>>  small to large*/

.t-1 {
  @apply text-[14px] leading-[16.8px];
}
.t-2 {
  @apply text-[16px] leading-[16px] font-[600];
}
.t-2-light {
  @apply text-[14px] md:text-[16px] leading-[22.4px];
}
.t-3 {
  @apply text-[22px] tracking-[-0.22px] leading-[26.4px];
}
.t-4 {
  @apply text-[28px] tracking-[-0.56px] leading-[33.6px];
}
.t-5 {
  @apply text-[40px] tracking-[-0.8px] leading-[48px];
}
.t-6 {
  @apply text-[40px] lg:text-[64px] tracking-[-1.92px] leading-[40px] md:leading-[64px];
}
.p-nav {
  @apply text-[42px] md:text-[64px] lg:text-[96px] md:leading-none tracking-[-2.88px] leading-[45px];
}
.p-logo {
  @apply text-[20px] font-[700] tracking-[-0.6px] leading-[24px];
}

/* Colour Settings */
.base-gold-text {
  @apply text-[#8D493A];
}
.base-gold-bg {
  @apply bg-[#8D493A];
}

.base-white-text {
  @apply text-[#F8EDE3];
}
.base-white-bg {
  @apply bg-[#F8EDE3];
}

/* Additional Settings */
.btn {
  @apply py-[12px] px-[26px] rounded-[5px] cursor-pointer transition-all;
}
.corner-round {
  @apply rounded-[8px];
}
.btm-gap {
  margin-bottom: 200px;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 50px 0px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  position: relative;
}

.parallax::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(29, 79%, 38%, 0.295); /* 40% dark overlay */
  z-index: 0;
}

.parallax > div {
  position: relative;
  z-index: 1;
}
